body{
    margin: 0;
    padding: 0;
    background: #bbd8d1;
    width: 100%;
}
header{
    width: 1024px;
    height: 280px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.head #logo{
    width: 200px;
    height: 200px;
    border-radius: 50%;

}
.head .menu{
    width: 1024px;
    margin: 0 auto;
    border-bottom: 1px solid black;
}
.head .menu ul{
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.head .menu ul li{
    border-radius: 8px;
    list-style: none;
    position: relative;
    top: 8px;
}
.head .menu ul li a{
    text-decoration: none;
    color: #7B5454;
    transition: 0.5s;
}
.head .menu ul li:hover a{
    text-shadow: 0 0 30px rgba(4,0,0,0.6);
    color: #292929;
}
.main{
    width: 1024px;
    margin: 0 auto;
    display: grid;
    grid-template-rows: 1fr 3fr;
    grid-template-columns: 100%;
    grid-row-gap: 15px;
}
.main .rule {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.main .rule div{
    position: absolute;
    top: 0;
}
.main .rule div h1{
    text-align: center;
}
.main .rule div span{
    font-weight: bold;
}
.main .explain{
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
}
.main .explain .show{
    display: flex;
    align-items: center;
    justify-content: center;
}
.main .explain .show .info{
    position: relative;
    width: 350px;
    height: 322px;
    overflow: hidden;
}
.main .explain .show .info img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    opacity: 1;
    transition: 0.5s;
}
.main .explain .show .info .text {
    width: 350px;
    height: 100%;
    border-radius: 10px;
    color: white;
    text-align: center;
    line-height: 70px; /*글자높이*/
    font-size: 20px;
    position: absolute;
    top: 100%;
    bottom: -100%;
    right: 0;
    left: 0;
    background: rgba(0, 0, 0, 1);
    opacity: 1;
    transition: 0.8s;
}

.main .explain .show .info:hover img{
    opacity: 0.3;
}
.main .explain .show .info:hover .text{
    top: 0; bottom: 0;
    opacity: 0.7;
}

footer{
    width: 100%;
    height: 65px;
    background: #656060;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;

}

footer span {
    color : #F3E9E9;
    font-weight: bold;
    font-size: 25px;
}

@media (max-width: 768px) {
    .head,.head .menu,.main{width: 100%}
    .main .rule{
        width: 100%;
        height: 30px;
    }
    .main .explain{
        width: 100%;
        height: 300px;
    }
    .main > .explain > .show > .info,
    .main > .explain > .show > .info > .text{
        width: 250px;
        height: 280px;
    }
    footer{
        height: 50px;
    }
    footer span {
        font-size: 15px;
    }
}

@media (max-width: 375px) {
    .main .explain{
        width: 100%;
        height: 250px;
    }
    .main > .explain > .show > .info,
    .main > .explain > .show > .info > .text{
        width: 150px;
        height: 200px;
    }
    .main .explain .show .info .text{
        line-height: 30px; /*글자높이*/
        font-size: 15px;
    }
}

