@import url('https://fonts.googleapis.com/css2?family=Baloo+Tammudu+2&family=Gugi&family=Nanum+Gothic&family=Noto+Sans+KR&family=Jua&family=Sunflower:wght@500&display=swap');
body{
    margin: 0;
    background: #CDC7B6;
    width: 100%;
}
.nav{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #98958C;
    padding: 8px 12px;
    border-radius: 4px;
}
.nav ul{
    padding: 0;
    margin-bottom: 0;
}
.nav ul li{
    font-family: 'Baloo Tammudu 2', cursive;
}
a{
    text-decoration: none;
    color: white;
}
.logo,.menu{
    display: flex;
    align-items: center;
}
.logo a{
    font-size: 24px;
    padding-left: 8px;
}
.menu, .icon{
    list-style: none;
}
.menu li{
    padding: 8px 12px;
    font-size: 16px;
    transition: 0.8s;

}
.menu li a{
    font-family: 'Gugi', cursive;
}
.menu li:hover{
    background: #d49466;
    border-radius: 5px;
}
.nav_btn{
    position: absolute;
    right: 20px;
    top: 15px;
    font-size: 20px;
    display: none;
}

.icon li{
    padding: 8px 12px;
    font-size: 25px;
}
.icon{
    display: flex;
}
/*지금부터 main*/
.container{
    width: 1024px;
    margin: 0 auto;
}
.container h1{
    text-align: center;
    font-size: 40px;
    padding: 20px 0px;
}
.among{
    display: grid;
    grid-template-columns: 0.5fr 1.5fr;
}
.among a{
    display: inline-block;
    text-align: center;
}
.among img{
    box-shadow: 0 0 10px rgba(0,0,0,0.8);;
    width: 250px;
    height: 300px;
    border-radius: 7px;
    margin-top: 24px;
    transition: 0.5s;
}
.among .among_des{
    padding:0px 30px;
    font-size: 24px;
}
.among img:hover{
    transform: scale(1.1);
}
.base.active,.activity.active,.belong.active,.sns.active{
    opacity: 1;
}
@media (max-width: 768px) {
    .nav{
        flex-direction: column;
        align-items: flex-start;
    }
    .nav .menu{
        width: 100%;
        flex-direction: column;
        align-items: center;
        display: none;
    }
    .nav .menu li{
        width: 100%;
        text-align: center;
    }
    .nav .icon{
        width: 100%;
        justify-content: center;
        display: none;
    }
    .nav_btn{
        display: block;
    }
    .menu.active,.icon.active{
        display: flex;
    }
}